$color_popdark: #1a1a1a;
$color_blackblue: #24292e;
$color_zangblue: #26425f;
$color_steelblue: #5F9EA0;
$color_sea_green: #8FBC8F;
$color_ruby_red: #CD5C5C;
$color_tomato: #CD5C5C;
$color_royal_blue: #4682B4;
$color_light_font: #56677b;

.color_blackblue {
    color: $color_blackblue !important;
}

.color_light_font {
    color: $color_light_font !important;
}

.color_zangblue {
    color: $color_zangblue !important;
}

.color_sea_green {
    color: $color_sea_green !important;
}

.color_ruby_red {
    color: $color_ruby_red !important;
}

.color_popdark {
    color: $color_popdark !important;
}

.color_steelblue {
    color: $color_steelblue !important;
}
.color_tomato {
    color: $color_tomato !important;
}

.color_royal_blue {
    color: $color_royal_blue !important;
}

.bg_old_lace {
    background-color: #FDF5E6 !important;
}
.color_light_font {
    color: #FFF !important;
}