@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $color_popdark;
}

body {
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

    .text_size_18 {
        font-size: 18px;
    }

    .text_size_20 {
        font-size: 20px;
    }

    .text_size_08 {
        font-size: .8rem;
    }

    .text_lh_2 {
        line-height: 2em;
    }

    .text_size_18rem {
        font-size: 1.8rem;
    }

    .highlight {
        background-color: #f8f9fa !important;
        padding: .3rem;
        border-radius: 10px;
    }

    .header-nav {
        .logo-text {font-size: 1.8rem;}
        .nav-link {
            font-size: 1rem;;
        }
    }

    .btn_royal {
        color: #FFF !important;
        background-color: $color_royal_blue !important;
    }
    
    .doc-content {
        font-size: 16px;
        line-height: 1.8em !important;
        color: #24292e !important;
        code.highlighter-rouge {
            color: $color_royal_blue;
            background-color: rgb(242, 249, 255);
            padding: 3px;
        }
        & a {
            color: #69a3e0 !important;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #24292e !important;
            font-weight: 600;
            line-height: 1.25;
            margin-bottom: 16px;
            margin-top: 1.5em;
        }
        h1, h2, h3 {
            margin-top: 2rem;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 16px;
        }
        ul {
            padding-left: 2em;
        }
        p {
            color: #24292e !important;
            line-height: 1.8em !important;
            margin-bottom: 1em;
            margin-top: 0;
        }
        .postHeaderTitle {
            margin-top: 0;
        }

        .blockquote {
            background-color: rgba(255, 229, 100, 0.3);
            border-left: 8px solid #ffe564;
            padding: 15px 30px 15px 15px;
            color: #6a737d !important;
            font-size: 16px;
            margin: 0;
            margin-bottom: 16px;
        }
    }

}
