{% highlight php %}
use ConstanzeStandard\Container\Container;
use ConstanzeStandard\Fluff\Application;
use ConstanzeStandard\Fluff\RequestHandler\Di;
use ConstanzeStandard\Fluff\RequestHandler\Delay;
use ConstanzeStandard\Fluff\RequestHandler\Dispatcher;

require __DIR__ . '/../vendor/autoload.php';

// 初始化策略 ↓
$strategy = function($className, $method) {
    return [new $className, $method];
};
// 调用策略 ↓
$definition = Args::getDefinition();
// 延迟策略 ↓
$definition = Delay::getDefinition($strategy, $definition);
// 路由派发策略
$core = new Dispatcher($definition);
// 创建应用
$app = new Application($core);
{% endhighlight %}
