<div class="container pb-5 pt-3 mt-5 border-top">
    <div class="row">
        <div class="col">
            <p class="text-center text-muted font-weight-light text_size_08">Fluff 微框架由 
                <a href="mailto:omytty.alex@gmail.com">Alex</a>
                创建并维护 / 
                <i class="fab fa-github-alt"></i> 
                <a href="https://github.com/constanze-standard/fluff">Github home page</a>
            </p>
            <p class="text-center text-muted font-weight-light text_size_08">
                Copyright © 2019 Constanze Standard.
            </p>
        </div>
    </div>
</div>
