<div class="container pb-5 pt-3 mt-5 border-top">
    <div class="row">
        <div class="col">
            <p class="text-center text-muted font-weight-light text_size_08">Fluff 微框架由 
                <a href="mailto:omytty.alex@gmail.com">Alex</a>
                创建并维护 / 
                <i class="fab fa-github-alt"></i> 
                <a href="https://github.com/constanze-standard/fluff">Github home page</a>
            </p>
            <p class="text-center text-muted font-weight-light text_size_08">
                Copyright © 2019 Constanze Standard.
            </p>
        </div>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1278177616'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/z_stat.php%3Fid%3D1278177616%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
