<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% assign lib_styles = site.static_files | where: "lib_styles", true %}
    {% for css in lib_styles %}
        <link rel="stylesheet" href="{{ css.path | prepend: site.baseurl }}" />
    {% endfor %}

    {% assign lib_scripts = site.static_files | where: "lib_scripts", true %}
    {% for script in lib_scripts %}
        <script src="{{ script.path | prepend: site.baseurl }}"></script>
    {% endfor %}

    {% assign scripts = site.static_files | where: "scripts", true %}
    {% for script in scripts %}
        <script src="{{ script.path | prepend: site.baseurl }}"></script>
    {% endfor %}

    {% assign styles = site.static_files | where: "styles", true %}
    {% for css in styles %}
        <link rel="stylesheet" href="{{ css.path | prepend: site.baseurl }}" />
    {% endfor %}

    <title>{{ site.title | escape }} Micro Framework</title>
</head>
