{% include head.html %}
{% assign currentPage = page.title %}
<body>
    {% include header.html %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-2 d-md-block d-none">{% include sidebar.html %}</div>
            <div class="col-md-9">
                <div class="doc-content">
                    <h1 class="postHeaderTitle">{{ page.title }}</h1>
                    {{ content }}
                </div>
                {% include prev-next.html %}
            </div>
            <div class="col-md-2 d-md-none d-block">{% include sidebar.html %}</div>
        </div>
    </div>
    {% include footer.html %}
</body>
