{% include head.html %}
<body class="">
    {% include header.html %}
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <div class="doc-content card bg-light border-0">
                    <div class="card-body">
                        <div class="display-4 text-center color_zangblue">{{ page.title }}</div>
                        <div class="text-center">
                            <u class="color_royal_blue">{{ page.date | date: "%Y-%m-%d" }} / {{ page.author }}</u>
                        </div>
                        <div class="post_content">{{ content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
